<mat-toolbar color="">
    <mat-toolbar-row>
        <div class="navbar">
            <div class="navbar-menu-btn">
                <button routerLink="home" mat-button class="btn-search" >
                    <i class="material-icons">
                        arrow_back
                    </i>
                </button>
            </div>
            <div class="navbar-search">
                <button mat-button class="btn-search">
                    <i class="material-icons">
                        search
                    </i>
                </button>
            </div>
            <div class="navbar-user">
                <div class="user-notification">
                    <button mat-button class="btn-search">
                        <i class="material-icons">
                            notifications_paused
                        </i>
                    </button>
                </div>
                <div class="user-name">
                    <i class="material-icons">
                        account_circle
                    </i>
                    <p><small>Diego Alexander</small></p>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>