<mat-toolbar class="navbar-container" color="primary">
    <mat-toolbar-row>
        <div class="navbar">
            <div  class="">
                <button routerLink="home" mat-button class="btn-search">
                    <i class="material-icons">
                        menu
                    </i>
                </button>
                <button mat-button routerLink="modules">
                    <i class="material-icons">
                        view_module
                    </i>
                </button>
            </div>
            
            <!-- <div *ngIf="!menuHamburger" class="">
                <button routerLink="home" mat-button class="btn-search">
                    <i class="material-icons">
                        arrow_back
                    </i>
                </button>
            </div> -->

            <div class="navbar-search">
                <button mat-button class="btn-search">
                    <i class="material-icons">
                        search
                    </i>
                </button>
            </div>
            <div class="navbar-user">
                <div class="user-notification">
                    <button mat-button class="btn-search">
                        <i class="material-icons">
                            notifications_paused
                        </i>
                    </button>
                </div>
                <div class="user-name">
                    <i class="material-icons">
                        account_circle
                    </i>
                    <p><small>Diego Alexander</small></p>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>