<div class="container">


    <div class="tabs">
        <div *ngFor="let tab of misTabs; let i = index" class="">

            <div class="nombre-tab tab">
                <span (click)="stageInTab(tab.component)"  class="title">{{tab?.cardTitle}}</span>
                <div class="position-close-btn">
                    <button mat-button class="close-tab" (click)="closeTab(i)">
                        <span>
                            <i class="material-icons">
                                close
                            </i>
                        </span>
                    </button>
                </div>
            </div>


        </div>
    </div>

</div>