.tabs {
    display: flex;
    align-items: center;
}
.container {
    display: flex;
    background: #f7f7f7;
}
.tab {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top-right-radius: 0.65rem;
    border-top-left-radius: 0.65rem;
    padding: 0 3rem 0 1rem;
    height: 1.5rem;
    align-self: center;
    background: white;  
    height: 100%;
    position: relative;
    display: flex;
}
.title {
    padding: 0.2rem;
    cursor: default;
}
.nombre-tab {
    
}
.close-tab {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 0;
    line-height: 0;
    padding: 0;
    border-radius: 50%;
}
.close-tab i {
    font-size: 1.1rem;
    margin: 0.2rem;
}

